<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_blog.css') }}">
</head>
<body>
    <header>
        <h1>MIRROR</h1>
    </header>

    <div class="container">

        <form action="/login" method="POST" id="login-form">
            <h2>Login</h2>
            <label for="login-username">Username</label>
            <input type="text" id="login-username" name="username" required>
            
            <label for="login-password">Password</label>
            <input type="password" id="login-password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>